img.header-img {
  width: 100%;
  height: auto;
}

.icon-header {
  background-color: #6bac05;
  border-radius: 50%;
  color: white;
  float: left;
}

.header-text {
  color: black;
}

.ul-header {
  list-style: none;
  margin-bottom: 0px;
}

.li-header {
  display: flex;
  text-align: left;
  margin-bottom: 15px;
}

.span-icon-header {
  background-color: #6bac05;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 4px 4px 4px 7px;
  color: white;
}

.info-total-header {
  display: flex;
  flex-wrap: wrap;
}

.info-header {
  float: left;
  margin-left: 10px;
  line-height: 1.5em;
}

.mb-10 {
  margin-bottom: 5rem !important;
}