.error {
    color: #f44336;
    font-size: 12px;
    font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}

.form-group span,
.MuiPickersBasePicker-container span {
    color: #C0C0C0;
}

.error-input {
    border-color: red;
}